#!/usr/bin/make -f

%:
	dh $@  --with autoreconf --buildsystem=autoconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- --disable-selective-werror \
	                     --disable-xvfb \
	                     --disable-xnest \
	                     --disable-xephyr \
	                     --disable-xfbdev \
	                     --disable-dmx

override_dh_install:
	dh_install --fail-missing

override_dh_auto_test:
	# Skipping tests..
	# dh_auto_test
