#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@  --with autoreconf --buildsystem=autoconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- --with-extra-module-dir="/usr/lib/${DEB_HOST_MULTIARCH}/xorg/extra-modules,/usr/lib/xorg/extra-modules"         \
	                     --disable-selective-werror     \
	                     --disable-xvfb                 \
	                     --disable-xnest                \
	                     --disable-xephyr               \
	                     --disable-xfbdev               \
	                     --disable-dmx                  \
	                     --enable-install-libxf86config \
	                     --enable-aiglx                 \
	                     --enable-glx-tls               \
	                     --enable-dri                   \
	                     --enable-dri2                  \
	                     --enable-xcalibrate            \
	                     --enable-tslib                 \
	                     --enable-xf86bigfont           \
	                     --enable-config-udev           \
	                     --enable-config-dbus           \
	                     --disable-config-hal           \
	                     --enable-secure-rpc            \
	                     --with-sha1=libgcrypt          \

override_dh_install:
	dh_install --fail-missing

override_dh_auto_test:
	# Skipping tests..
	# dh_auto_test
